.logo {
    height: 48px;
    background: url('https://flow.team//img_rn/memb2/bi_flow.png') no-repeat;
    margin: 16px;
}

.login-group{
    padding: 16px;
}

.login{
    float: right;
}

.signin{
    float: right; 
    margin-left: 16px;
}


